@model IEnumerable<Airline_04_12.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlineImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.DepartureAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightCode)
            </th>
          
     
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
       
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightCode)
            </td>
                               
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
