@model BanVeMayBay.Models.ticket
@{
    ViewBag.Title = "flightDetail";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="booking">
    <div class="container bg-white" style="margin-top:90px">
        <div class="row">
            <div class="col-md-8">
                <div class="booking-confirmed booking-outer">
                    <div class="confirmation-title">
                        <div class="form-title form-title-1">
                            <h2 class="text-danger">Chi tiết vé: @Model.departure_address -> @Model.arrival_address</h2>
                        </div>
                        <div class="payment-info detail">
                            <div class="row">
                                <div class="col-md-12">
              
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <table class="table" style="margin-top:20px;">
                    <tbody>
                        <tr>
                            <td class="title">Airlines</td>
                            <td> <img src="~/public/images/flight/@Model.airline" alt=""></td>
                        </tr>
                        <tr>
                            <td class="title">Price</td>
                            <td class="b-id text-danger">@Model.price.ToString("N0") VND</td>
                        </tr>
                        <tr>
                            <td class="title">Flight Day</td>
                            <td>@Model.departure_date.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr>
                            <td class="title">Starting Gate</td>
                            <td>@Model.departure_address</td>
                        </tr>
                        <tr>
                            <td class="title">Destination</td>
                            <td>@Model.arrival_address</td>
                        </tr>
                        <tr>
                            <td class="title">Airport</td>
                            <td>@Model.airport</td>
                        </tr>
                        <tr>
                            <td class="title">Empty Seat</td>
                            <td>@Model.guestTotal Seat</td>
                        </tr>
                      
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</section>
<style>
    .title {
        font-size: 17px;
        font-weight: bold;
        padding-right: 50px;
        color: #ff0000;
    }
</style>